label, input, button {
    margin: 1vh;
}

th {
    font-weight: bold;
    /* background-color: #06A0E8; */
}

.btn-buscar {
    background-color: #06A0E8;
    color: white;
}

.btn-cadastrar {
    background-color: rgb(37, 207, 37);
    color: white;
}