* {
    padding: .07vh;
    font-family: Arial, sans-serif;
}

.divTableIndex {
    text-align: center;
}

#btn-primary-add-product {
    margin-left: 0.12vh;
}

/* .display-5 {
    font-family: Arial, sans-serif;
} */