form {
    max-width: 600px;
    margin: 0 auto;
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2vh; */
}

h1 {
    padding-top: 2vh;
    font-size: 3vh;
    text-align: left;
    
}

input,
select,
textarea,
.radios,
.checks {
    margin-bottom: 20px;
}

/* label {
    padding-bottom: 1vh;
} */

span {
    color: red;
}

h2 {
    text-align: center;
    margin-top: -2vh;
    margin-bottom: 5vh;
}

.radios label,
.checks label {
    margin-right: 20px;
}

#imgLogo {
    margin: -7vh;
}

#linkLogo{
    width: 16vh;
    display: flex;
    margin: 0 auto;
    margin-top: 1.95vh;
}

#labelAte {
    margin-left: 2vh;
}

/* #labelGenero {
    margin-left: 4vh;
} */

input[type="file"] {
    display: none;
}

#uploadLabel {
    padding: 10px 30px;
    /* width: 74vh;  */
    width: 485px; 
    border-radius: 5px;
    /* background-color: #D0CFCF; */
    background-color: #06A0E8;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

#uploadLabel:hover {
    background-color: #9B9B9B;
}

#div-enviar {
    text-align: center;
    margin-left: -40px;
}

#btn-enviar {
    background-color: #06A0E8;
    color: white;
}

/* #labelGenero {
    margin-left: 5vh;
} */



/* .divCor {
    background-color: red;
} */ */



#btn-del-cor {
    width: 1px;
    background-color: red;
}

.formPrincipal {
    border: 1px solid #06A0E8;
    border-radius: 2vh;
    padding: 5vh;
}